{% extends 'index.html' %} {%load static%} {% block body %}
<div class="sufee-login d-flex align-content-center flex-wrap">
  <div class="container">
    <div class="login-content">
      <div class="login-logo">
        <a href="index.html">
          <img
            class="align-content"
            src="{% static 'img/logoCuraduria.png' %}"
            alt=""
          />
        </a>
      </div>
      <div class="login-form">
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            {% if request.method == 'POST' %} {% if form.error_messages %}
            <div class="alert alert-danger alert-dismissible" role="alert">
              <strong>Advertencia: </strong> {{ form.get_invalid_login_error }}
            </div>
            {% endif %} {% endif %}
            <label>Usuario</label>
            {{form.username}}
          </div>
          <div class="form-group">
            <label>Contraseña</label>
            {{form.password}}
          </div>
          <div class="checkbox">
            <label> <input type="checkbox" /> Remember Me </label>
          </div>
          <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">
            Iniciar Sesión
          </button>
          <div class="social-login-content">
            <div class="social-button">
              <a href="{% url 'index' %}">
                <button
                  type="button"
                  class="btn social facebook btn-flat btn-addon mb-3"
                >
                  Cancelar
                </button>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
