{% extends 'dashboard.html' %} {% load static %}<!-- Esto es un comentario -->
{% block content %}
<form method="POST" class="form-horizontal">
  {% csrf_token %} {% if error%}
  <h2>{{error}}</h2>
  {% else %}
  <div class="row form-group">
    <div class="col-12 col-md-12">
      {% for field in form %} {{ field.errors }}
      <div id="{{field.id_for_label}}" class="form-group-input">
        {{ field.label_tag }} {{field}}
      </div>
      {% endfor %}
    </div>
  </div>
  <button type="submit" class="btn btn-success">Guardar</button>
  <a href="{% url 'pqrsdf:get_pqrsdfs' %}">Cancelar</a>
  {% endif %}
</form>
{% endblock content %} {% block extraJs %}
<script src="{% static 'js/form.js' %}"></script>
{% endblock extraJs %}
