{% extends 'dashboard.html' %}{% load static %}<!-- Esto es un comentario -->
{% block content %}

<h1>Tipo: {{ object.type_pqrsdf}}</h1>
<h3>Estado: {{ object.state }}</h3>
<h6>Nombre: {{ object.name}}</h6>
<p>
  Identificación: {{ object.type_identification }} {{ object.identification}}
</p>
<p>Comunicación: {{ object.email }}</p>
<p>Teléfono: {{ object.number_contact }}</p>
<p>Descripción</p>
<p>{{ object.description }}</p>
<div class="table-stats order-table ov-h card-body">
  <table id="bootstrap-data-table" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="serial">#</th>
        <th>Estado</th>
        <th>Fecha de Entrada</th>
        <th>Fecha de Salida</th>
        <th>Usuario Entrada</th>
        <th>Usuario Salida</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Radicación</td>
        <td>20/01/23</td>
        <td>21/01/23</td>
        <td>Laura</td>
        <td>Sebastián</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Elaboración</td>
        <td>21/01/23</td>
        <td>22/01/23</td>
        <td>Sebastián</td>
        <td>Juandiego</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Revisión</td>
        <td>22/01/23</td>
        <td>23/01/23</td>
        <td>Juandiego</td>
        <td>Andrea</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Finalizado</td>
        <td>23/01/23</td>
        <td>24/01/23</td>
        <td>Andrea</td>
        <td>Pedro</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}
