{% extends 'dashboard.html' %}{% load static %}<!-- Esto es un comentario -->
{% block content %}
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong class="card-title">Listado PQRSDF</strong>
        </div>
        <div class="row header-card-getpqrsdf">
          <div class="col-md-8 create">
            <a href="{% url 'pqrsdf:create_pqrsdf' %}">
              <button type="button" class="btn btn-danger">Crear pqrsdf</button>
            </a>
          </div>
          <div class="col-md-4 search">
            <form method="GET">
              <div id="custom-search-input">
                <div class="input-group col-md-12">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Buscar"
                    name="search"
                    value="{{request.GET.search}}"
                  />
                  <span class="input-group-list">
                    <i class="icon icon-search"></i>
                    <button type="submit" class="btn btn-success">
                      Buscar
                    </button>
                    <a href="{% url 'pqrsdf:get_pqrsdfs' %}">Cancelar</a>
                  </span>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="table-stats order-table ov-h card-body">
          {% if pqrsdfs %}
          <table
            id="bootstrap-data-table"
            class="table table-striped table-bordered"
          >
            <thead>
              <tr>
                <th class="serial">#</th>
                <th>Radicado</th>
                <th>Tipo</th>
                <th>Fecha de Creación</th>
                <th>Anónimo</th>
                <th>Estado</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              {% for pqrsdf in pqrsdfs %}
              <tr>
                <td class="serial">{{pqrsdf.id}}</td>
                <td class="serial">{{pqrsdf.radicated}}</td>
                <td>{{pqrsdf.get_type_pqrsdf_display}}</td>
                <td>{{pqrsdf.date_pqrsdf}}</td>
                <td>
                  {% if pqrsdf.type_anonymous == True %}
                  <i class="menu-icon fa fa-check"></i>
                  {% else %}
                  <i class="menu-icon fa fa-times"></i>
                  {% endif %}
                </td>
                <td>
                  {% if pqrsdf.state_actual == 1 %}
                  <span class="badge text-bg-primary"
                    >{{pqrsdf.get_state_actual_display}}</span
                  >
                  {% elif pqrsdf.state_actual == 2%}
                  <span class="badge text-bg-dark"
                    >{{pqrsdf.get_state_actual_display}}</span
                  >
                  {% elif pqrsdf.state_actual == 3%}
                  <span class="badge text-bg-warning"
                    >{{pqrsdf.get_state_actual_display}}</span
                  >
                  {% elif pqrsdf.state_actual == 4%}
                  <span class="badge text-bg-success"
                    >{{pqrsdf.get_state_actual_display}}</span
                  >
                  {% endif %}
                </td>
                <td>
                  <div class="dropdown">
                    <button
                      class="btn btn-danger dropdown-toggle button-menu-settings"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="fa fa-cog" disabled></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a
                          class="dropdown-item"
                          href="{% url 'pqrsdf:detail_pqrsdf' pqrsdf.id %}"
                          >Ver</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item"
                          href="{% url 'pqrsdf:update_pqrsdf' pqrsdf.id %}"
                          >Editar</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item"
                          href="{% url 'pqrsdf:delete_pqrsdf' pqrsdf.id %}"
                          >Eliminar</a
                        >
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <nav aria-label="navigation">
            <ul class="pagination">
              {% if page_obj.has_previous%}
              <li class="page-item">
                <a
                  class="page-link previous-page"
                  href="?page={{ page_obj.previous_page_number}}{% if request.GET.search %}&q={{request.GET.search}}{% endif %}"
                  aria-label="Previous"
                >
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {% else %}
              <li class="page-item" disabled>
                <a class="page-link" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {% endif %}
              <div class="numbers-pagination">
                {% for page_number in page_obj.paginator.page_range %}
                <a
                  class="{% if page_number == page_obj.number %}current {% else %} pagination-numbers{% endif %}"
                >
                  {{page_number}}
                </a>
                {% endfor %}
              </div>
              {% if page_obj.has_next%}
              <li class="page-item">
                <a
                  class="page-link next-page"
                  href="?page={{ page_obj.next_page_number}}{% if request.GET.search %}&q={{request.GET.search}}{% endif %}"
                  aria-label="Next"
                >
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              {% else %}
              <li class="page-item" disabled>
                <a class="page-link" aria-label="next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              {% endif %}
            </ul>
            {% else %}
            <h1>No existe Pqrsdfs</h1>
          </nav>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!-- .animated -->{% endblock content %} {% comment %} {% if pqrsdfs %}
  <div class="container-search">
    <div class="row">
      <div class="col-md-8 create">
        <a href="{% url 'pqrsdf:create_pqrsdf' %}">
          <button type="button" class="btn btn-danger">Crear pqrsdf</button>
        </a>
      </div>
      <div class="col-md-4 search">
        <form method="GET">
          <div id="custom-search-input">
            <div class="input-group col-md-12">
              <input
                type="text"
                class="form-control"
                placeholder="Buscar"
                name="search"
                value="{{request.GET.search}}"
              />
              <span class="input-group-list">
                <i class="icon icon-search"></i>
                <button type="submit" class="btn btn-success">Buscar</button>
                <a href="{% url 'pqrsdf:get_pqrsdfs' %}">Cancelar</a>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="table-stats order-table ov-h">
    <table id="bootstrap-data-table" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="serial">#</th>
          <th>Tipo</th>
          <th>Fecha de Creación</th>
          <th>Anónimo</th>
          <th>Estado</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for pqrsdf in pqrsdfs %}
        <tr>
          <td class="serial">{{pqrsdf.id}}</td>
          <td>{{pqrsdf.type_pqrsdf}}</td>
          <td>{{pqrsdf.date_pqrsdf}}</td>
          <td>{{pqrsdf.type_anonymous}}</td>
          <td>
            <span class="badge badge-complete">Finalizado</span>
            <span class="badge badge-pending">Elaboración</span>
          </td>
          <td>
            <a href="{% url 'pqrsdf:update_pqrsdf' pqrsdf.id %}">Editar</a>
            <a href="{% url 'pqrsdf:delete_pqrsdf' pqrsdf.id %}">Eliminar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if pqrsdfs.has_previous%}
        <li class="page-item">
          <a
            class="page-link"
            href="?page={{ pqrsdfs.previous_page_number}}{% if request.GET.search %}&q={{request.GET.search}}{% endif %}"
            aria-label="Previous"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% else %}
        <li class="page-item" disabled>
          <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %} {% if pqrsdfs.has_next%}
        <li class="page-item">
          <a
            class="page-link"
            href="?page={{ pqrsdfs.next_page_number}}{% if request.GET.search %}&q={{request.GET.search}}{% endif %}"
            aria-label="Next"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% else %}
        <li class="page-item" disabled>
          <a class="page-link" aria-label="next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>

    {% else %}
    <h1>No existe Pqrsdf</h1>
  </div>
  {% endif %} {% endcomment %}
</div>
